<!Doctype html>
<html>

<head>
    <script src="vue.js"></script>
    <link rel='stylesheet' href="box.css" />
</head>

<body>
    <div id="app">
        <div>

            <div class="demo" :class="color"></div>
            <div class="demo" :style="myStyle"></div>
            <div class="demo" :style="[myStyle , { height: width + 'px' } ]"></div>

            <hr />
            <input type="text" v-model="color" />
            <input type="text" v-model="width" />
        </div>
    </div>
</body>
<script>
    new Vue({
        el: '#app',
        data: {
            title: "Hello World!",
            number: 0,
            xx: 0,
            yy: 0,
            attachRed: false,
            color: '',
            width: 100
        },
        computed: {
            divClasses: function() {
                return {
                    red: this.attachRed,
                    blue: !this.attachRed
                };
            },
            myStyle: function() {
                return {
                    backgroundColor: this.color,
                    width: this.width + 'px'
                };
            },
        },
        methods: {
            changeTitle: function(event) {
                this.title = event.target.value;
            },
            increase: function(step, event) {
                this.number += step;
            },
            updateCoordinate: function(event) {
                this.xx = event.clientX;
                this.yy = event.clientY;
            },
            /*dead: function(event) {
                event.stopPropagation();
            },*/
        },
    });
</script>

</html>
